.hero-section{
background: url('/photos/hero.jpg') center/cover no-repeat; 
height: 70vh; 
filter: brightness(0.);
top: 0; 
left: 0; 
width: 100%; 
display: flex; 
flex-direction: column; 
justify-content: center;
align-items: center;
 border-top: 1px solid #30465c;
}

.hero-text{
font-weight: bold;
font-size: 3.5rem;
}

.hero-section2{
background: url('/photos/kontakt.avif') center/cover no-repeat; 
height: 70vh; 
filter: brightness(0.);
top: 0; 
left: 0; 
width: 100%; 
display: flex; 
flex-direction: column; 
justify-content: center;
align-items: center;
 border-top: 1px solid #30465c;
}

